<a href="https://colab.research.google.com/github/isabelapt/Bootcamp_Data_Science_Alura/blob/main/Modulo_2/Modulo2Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 1 e Aula 2

Google Colab already has most common python packages.

  - You can pip install anything by prepending an exclamation point 

  - You can use pip to install this library:

```
!pip install beautifulsoup4
!pip install urlopen
```

In [223]:
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup

In [224]:
# Gastos Hospitalares 2008 - 2021
URL = 'https://raw.githubusercontent.com/isabelapt/Bootcamp_Data_Science_Alura/main/data/A174626189_28_143_208.csv'

In [225]:
# Lê um arquivo csv e retorna em formato de DataFrame
dados = pd.read_csv(
    URL,
    encoding="ISO-8859-1",
    # skiprows manda pular as linhas iniciais
    skiprows = 3,
    # sep indica qual o caractere utilizado como separador
    sep=";",
    # skipfooter manda pular as linhas finais
    skipfooter=12,
    # thousands indica qual o caractere a ser reconhecido como o separador de milhares nos campos numéricos
    thousands=".",
    # decimal indica qual o caractere a ser reconhecido como o separador decimal nos campos numéricos
    decimal=",",
    engine='python'
)

pd.options.display.float_format = "{:.2f}".format

# Mostra as 5 primeiras linhas do DataFrame
display(dados.head())

colunas_usaveis = dados.mean().index.tolist()
colunas_usaveis.insert(0, "Unidade da Federação")

  Unidade da Federação    2008/Jan  ...    2021/Abr         Total
0          11 Rondônia  1388528.39  ... 10420414.57 1009293149.05
1              12 Acre   902416.00  ...  6307616.67  456356147.14
2          13 Amazonas  4735529.42  ... 21844013.34 1940455216.35
3           14 Roraima   657889.53  ...  4857677.40  333734642.49
4              15 Pará 18864744.11  ... 17185408.74 4729500520.43

[5 rows x 162 columns]

In [226]:
usaveis = dados[colunas_usaveis]
usaveis = usaveis.set_index("Unidade da Federação")
display(usaveis.head())

ordenado_por_total = usaveis.sort_values("Total", ascending=False)
ordenado_por_total = ordenado_por_total.drop("Total", axis=1) # Drop Column Total
display(ordenado_por_total.head())

                        2008/Jan    2008/Fev  ...    2021/Abr         Total
Unidade da Federação                          ...
11 Rondônia           1388528.39  2931283.42  ... 10420414.57 1009293149.05
12 Acre                902416.00  1497206.26  ...  6307616.67  456356147.14
13 Amazonas           4735529.42  7118990.57  ... 21844013.34 1940455216.35
14 Roraima             657889.53   777939.31  ...  4857677.40  333734642.49
15 Pará              18864744.11 19553758.20  ... 17185408.74 4729500520.43

[5 rows x 160 columns]

                        2008/Jan     2008/Fev  ...     2021/Mar     2021/Abr
Unidade da Federação                           ...
35 São Paulo         91678473.48 148677526.82  ... 397900711.86 454877315.76
31 Minas Gerais      45671659.76  70194037.10  ... 213257717.93 239592471.25
41 Paraná            38266347.46  55384670.52  ... 140541485.50 156153143.38
43 Rio Grande do Sul 30931325.46  57363420.01  ... 132907988.56 141211476.01
33 Rio de Janeiro    23025258.52  28394310.93  ... 112871365.80 108762003.00

[5 rows x 159 columns]

**Análises para o mês mais recente**

In [227]:
ordenado_por_total = ordenado_por_total / 1000000
mes_mais_recente = ordenado_por_total.columns[-1]
mes_mais_recente

'2021/Abr'

In [228]:
gastos_do_mais_recente = ordenado_por_total[mes_mais_recente]
gastos_do_mais_recente.head()

Unidade da Federação
35 São Paulo           454.88
31 Minas Gerais        239.59
41 Paraná              156.15
43 Rio Grande do Sul   141.21
33 Rio de Janeiro      108.76
Name: 2021/Abr, dtype: float64

In [229]:
# Estimativa População IBGE
ibge_estimativa_pop = pd.read_excel('https://github.com/isabelapt/Bootcamp_Data_Science_Alura/blob/main/data/POP2020_20210331.xls?raw=true',
                                    skiprows = 1)
ibge_estimativa_pop.head()

  BRASIL E UNIDADES DA FEDERAÇÃO  Unnamed: 1 POPULAÇÃO ESTIMADA
0                         Brasil         nan          211755692
1                   Região Norte         nan           18672591
2                       Rondônia         nan            1796460
3                           Acre         nan             894470
4                       Amazonas         nan            4207714

In [230]:
# Spanning strings over multiple lines can be done using python's triple quotes.
# It is also used for long comments in code. Special characters like TABs, verbatim
# or NEWLINEs can also be used within the triple quotes.

dados_populacao = '''
Posição	Unidade federativa	População	% da pop. total	País comparável
(habitantes)

1	 São Paulo	46 289 333	21,9%	Flag of Spain.svg Espanha (46 439 864)
2	 Minas Gerais	21 292 666	10,1%	 Sri Lanka (20 675 000)
3	 Rio de Janeiro	17 366 189	8,2%	 Países Baixos (16 922 900)
4	Bahia Bahia	14 930 634	7,1%	 Chade (14 037 000)
5	 Paraná	11 516 840	5,4%	 Bolívia (11 410 651)
6	 Rio Grande do Sul	11 422 973	5,4%	 Bélgica (11 250 659)
7	 Pernambuco	9 616 621	4,5%	 Bielorrússia (9 485 300)
8	 Ceará	9 187 103	4,3%	 Emirados Árabes Unidos (9 157 000)
9	Pará Pará	8 690 745	4,1%	 Áustria (8 602 112)
10	 Santa Catarina	7 252 502	3,4%	 Sérvia (7 114 393)
11	 Maranhão	7 114 598	3,4%	 Paraguai (7 003 406)
12	 Goiás	7 113 540	3,4%	 Paraguai (7 003 406)
13	 Amazonas	4 207 714	2,0%	 Líbano (4 168 000)
14	 Espírito Santo	4 064 052	1,9%	 Líbano (4 168 000)
15	 Paraíba	4 039 277	1,9%	 Líbano (4 168 000)
16	 Rio Grande do Norte	3 534 165	1,7%	 Uruguai (3 415 866)
17	 Mato Grosso	3 526 220	1,7%	 Uruguai (3 415 866)
18	 Alagoas	3 351 543	1,6%	 Uruguai (3 415 866)
19	 Piauí	3 281 480	1,6%	 Kuwait (3 268 431)
20	 Distrito Federal	3 055 149	1,4%	 Lituânia (2 900 787)
21	 Mato Grosso do Sul	2 809 394	1,3%	 Jamaica (2 717 991)
22	 Sergipe	2 318 822	1,1%	 Namíbia (2 280 700)
23	 Rondônia	1 796 460	0,8%	 Gabão (1 725 000)
24	 Tocantins	1 590 248	0,7%	 Bahrein (1 359 800)
25	 Acre	894 470	0,4%	 Fiji (859 178)
26	 Amapá	861 773	0,4%	 Fiji (859 178)
27	 Roraima	631 181	0,3%	 Luxemburgo (562 958)
 '''

 # fonte: https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o#cite_note-IBGE_POP-1

**Estruturar uma função para a leitura e limpeza dessa tabela, devolvendo a tabela populacao e a tabela unida**

In [231]:
# https://docs.python.org/3/library/io.html
from io import StringIO

dados_populacao_io = StringIO(dados_populacao)
populacao = pd.read_csv(dados_populacao_io, sep="\t")

# Drop NaN values
populacao = populacao.dropna()

# str methods to use in pandas 
populacao["populacao"] = populacao["População"].str.replace(" ", "").astype(int)
populacao["uf"] = populacao["Unidade federativa"]
populacao = populacao[["populacao", "uf"]].set_index("uf")

display(populacao.head())
display(populacao.info())

                 populacao
uf
 São Paulo        46289333
 Minas Gerais     21292666
 Rio de Janeiro   17366189
Bahia Bahia       14930634
 Paraná           11516840

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries,  São Paulo to  Roraima
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   populacao  27 non-null     int64
dtypes: int64(1)
memory usage: 432.0+ bytes

None

In [232]:
populacao.index.str[:3]

Index([' Sã', ' Mi', ' Ri', 'Bah', ' Pa', ' Ri', ' Pe', ' Ce', 'Par', ' Sa',
       ' Ma', ' Go', ' Am', ' Es', ' Pa', ' Ri', ' Ma', ' Al', ' Pi', ' Di',
       ' Ma', ' Se', ' Ro', ' To', ' Ac', ' Am', ' Ro'],
      dtype='object', name='uf')

In [233]:
# .strip() => Remove spaces at the beginning and at the end of the string
populacao.index = populacao.index.str.strip()
populacao.head()

                populacao
uf
São Paulo        46289333
Minas Gerais     21292666
Rio de Janeiro   17366189
Bahia Bahia      14930634
Paraná           11516840

In [234]:
# Remove the UF number
gastos_do_mais_recente.index = gastos_do_mais_recente.index.str[3:]
gastos_do_mais_recente.head()

Unidade da Federação
São Paulo           454.88
Minas Gerais        239.59
Paraná              156.15
Rio Grande do Sul   141.21
Rio de Janeiro      108.76
Name: 2021/Abr, dtype: float64

In [235]:
# The copied text from Wikipedia came with some duplicate state names

for estado in gastos_do_mais_recente.index:
  populacao.index = populacao.index.str.replace(f"{estado} {estado}", estado)
populacao.index

Index(['São Paulo', 'Minas Gerais', 'Rio de Janeiro', 'Bahia', 'Paraná',
       'Rio Grande do Sul', 'Pernambuco', 'Ceará', 'Pará', 'Santa Catarina',
       'Maranhão', 'Goiás', 'Amazonas', 'Espírito Santo', 'Paraíba',
       'Rio Grande do Norte', 'Mato Grosso', 'Alagoas', 'Piauí',
       'Distrito Federal', 'Mato Grosso do Sul', 'Sergipe', 'Rondônia',
       'Tocantins', 'Acre', 'Amapá', 'Roraima'],
      dtype='object', name='uf')

In [236]:
gastos_e_populacao_recente = populacao.join(gastos_do_mais_recente)
gastos_e_populacao_recente.head()

                populacao  2021/Abr
uf
São Paulo        46289333    454.88
Minas Gerais     21292666    239.59
Rio de Janeiro   17366189    108.76
Bahia            14930634    108.98
Paraná           11516840    156.15

# Desafios

## Desafio 01 - Entre nos dados do wikipedia e Leia a Base de dados direto do wikipedia.

Pesquisando:\
https://towardsdatascience.com/a-guide-to-scraping-html-tables-with-pandas-and-beautifulsoup-7fc24c331cf7\

https://towardsdatascience.com/scraping-tabular-data-with-pandas-python-10cf2a133cbf\

https://pythonbasics.org/pandas-web-scraping/\

https://pythonprogramminglanguage.com/web-scraping-with-pandas-and-beautifulsoup/\

https://www.alura.com.br/conteudo/web-scraping-data-science-python?gclid=Cj0KCQjw5PGFBhC2ARIsAIFIMNefx1fH8sdMURyKXoFCw89m4MbfAmo5QvWQwOza9zDf6o15116gVfIaAsVtEALw_wcB

In [237]:
URL = 'https://pt.wikipedia.org/wiki/Lista_de_unidades_\
federativas_do_Brasil_por_popula%C3%A7%C3%A3o#cite_note-IBGE_POP-1'

dados_wiki_list = pd.read_html(URL)

print("Number of tables on site: ",len(df_list))

# Get first table                                                                                                           
table_wiki = dados_wiki_list[0]
table_wiki.head()

Number of tables on site:  5

   Posição Unidade federativa  ... % da pop. total País comparável (habitantes)
0        1          São Paulo  ...           21,9%         Espanha (46 439 864)
1        2       Minas Gerais  ...           10,1%       Sri Lanka (20 675 000)
2        3     Rio de Janeiro  ...            8,2%   Países Baixos (16 922 900)
3        4              Bahia  ...            7,1%           Chade (14 037 000)
4        5             Paraná  ...            5,4%         Bolívia (11 410 651)

[5 rows x 5 columns]

## Desafio 02 - Neste desafio temos uma série de passos:

* Padronizar os nomes das colunas
* Transformar os dados nos tipos corretos
* Transformar a UF em index

In [238]:
# Extract columns                                                                                                    
table_wiki = table_wiki[['Unidade federativa','População']]
table_wiki.head()

  Unidade federativa   População
0          São Paulo  46 289 333
1       Minas Gerais  21 292 666
2     Rio de Janeiro  17 366 189
3              Bahia  14 930 634
4             Paraná  11 516 840

In [239]:

# Rename columns name
table_wiki.rename(columns={'Unidade federativa':'uf', 'População':'populacao'}, inplace=True)

# Set uf as index
table_wiki = table_wiki.set_index("uf")

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [240]:
# Replace white spaces between the string digits
table_wiki['populacao'] = table_wiki['populacao'].str.replace(' ', '')

# Cast the string to int
table_wiki['populacao'] = table_wiki['populacao'].astype(int)
table_wiki.head()

                populacao
uf
São Paulo        46289333
Minas Gerais     21292666
Rio de Janeiro   17366189
Bahia            14930634
Paraná           11516840

## Desafio 03 - Buscar na documentação alguns métodos envolvendo strings

https://www.alura.com.br/artigos/manipulacao-de-strings-no-pandas-lower-replace-startswith-e-contains

https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

[Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.html)

- lstrip() is used to remove spaces from the left side of string
- rstrip() to remove spaces from right side of the string 
- strip() removes spaces from both sides
- replace() replace the substring with a new substring in the string
- lower() convert strings to lowercase
- upper() convert strings to uppercase
- startswith() test if the start of each string element matches a pattern
- endswith() test if the end of each string element matches a pattern
- contains() test if pattern or regex is contained within a string of a Series or Index

## Desafio 04 - Desenvolver uma função para a limpeza e tratamento dos dados, retornando duas tabelas "população" e "unida".

In [241]:
def clean_table_data(table,url):
  # Read Table from URL 
  dados_wiki_list = pd.read_html(url)                                                                                                          
  populacao = dados_wiki_list[0]

  # Extract columns                                                                                                    
  populacao = populacao[['Unidade federativa','População']]

  # Rename columns name
  populacao.rename(columns={'Unidade federativa':'uf', 'População':'populacao'}, inplace=True)

  # Set uf as index
  populacao = populacao.set_index("uf")

  # Replace white spaces between the string digits
  populacao['populacao'] = populacao['populacao'].str.replace(' ', '')

  # Cast the string to int
  populacao['populacao'] = populacao['populacao'].astype(int)

  # Join Tables
  unida = populacao.join(table) #união dos dados
    
  return populacao, unida

In [242]:
URL = 'https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o'

populacao, unida = clean_table_data(gastos_do_mais_recente,URL)
display(populacao)
display(unida)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                     populacao
uf
São Paulo             46289333
Minas Gerais          21292666
Rio de Janeiro        17366189
Bahia                 14930634
Paraná                11516840
Rio Grande do Sul     11422973
Pernambuco             9616621
Ceará                  9187103
Pará                   8690745
Santa Catarina         7252502
Maranhão               7114598
Goiás                  7113540
Amazonas               4207714
Espírito Santo         4064052
Paraíba                4039277
Rio Grande do Norte    3534165
Mato Grosso            3526220
Alagoas                3351543
Piauí                  3281480
Distrito Federal       3055149
Mato Grosso do Sul     2809394
Sergipe                2318822
Rondônia               1796460
Tocantins              1590248
Acre                    894470
Amapá                   861773
Roraima                 631181

                     populacao  2021/Abr
uf
São Paulo             46289333    454.88
Minas Gerais          21292666    239.59
Rio de Janeiro        17366189    108.76
Bahia                 14930634    108.98
Paraná                11516840    156.15
Rio Grande do Sul     11422973    141.21
Pernambuco             9616621     95.55
Ceará                  9187103     68.65
Pará                   8690745     17.19
Santa Catarina         7252502     82.17
Maranhão               7114598     45.35
Goiás                  7113540     58.19
Amazonas               4207714     21.84
Espírito Santo         4064052     54.24
Paraíba                4039277     28.85
Rio Grande do Norte    3534165     35.00
Mato Grosso            3526220     24.34
Alagoas                3351543     26.63
Piauí                  3281480     25.48
Distrito Federal       3055149     38.41
Mato Grosso do Sul     2809394     23.92
Sergipe                2318822     14.92
Rondônia               1796460     10.42
Tocantins              1590248      1.28
Acre                    894470      6.31
Amapá                   861773      3.62
Roraima                 631181      4.86